<div class="container pt-10">
<main class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">S'inscire</h1>
  <form [formGroup]="formRegister">
     <div class="form-group">
       <label for="nom">Nom</label>
       <input type="text" class="form-control" id="floatingPassword" placeholder="nom" formControlName="nom">
    </div>
    <div class="form-group">
      <label for="floatingPassword">Prénom</label>
      <input type="text" class="form-control" id="floatingPassword" placeholder="prenom" formControlName="prenom">

    </div>
     <div class="form-group">
       <label
         for="floatingInput">Email </label>
        <input type="email"
           class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">

     </div>
     <div class="form-group">
       <label
         for="floatingInput">Identifiant</label>
      <input type="email"
         class="form-control" id="floatingInput" formControlName="username">

   </div>
     <div class="form-group">
       <label for="floatingPassword">Mot de passe</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">

      </div>
     <button class="btn btn-light" type="button" (click)="registerUser()" [disabled]="!formRegister.valid">s'inscrire</button>


  </form>
</main>
</div>
