<main class="form-signin w-100 m-auto">
  <form [formGroup]="formLogin">
     <h1 class="h3 mb-3 fw-normal">Se connecter</h1>

     <div class="form-floating">
        <input type="text"
           class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="login"><label
           for="floatingInput" >Login</label>

     </div>
     <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        formControlName="password"><label for="floatingPassword">Password</label>
      </div>

     <div class="checkbox mb-3"><a href="/meteo-qa-inscription">s'incrire</a></div>
     <button class="w-100 btn btn-lg btn-light" type="submit" (click)="loginUser()" [disabled]="!formLogin.valid">connexion</button>
  </form>
</main>
