<div class="container mt-5">
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">METEO APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/meteo-qa-login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meteo-qa-inscription">Register</a>
        </li>
      </ul>
    </div>
  </nav>-->
  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron">
        <h1 class="display-4 text-bold">Welcome <span class="green-label">green</span> friend</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. Mauris posuere augue et eros lobortis, eu porttitor ligula gravida. Sed nec suscipit lectus. In hac habitasse platea dictumst. Quisque ac orci cursus, convallis dui eu, tincidunt felis.
          Nunc in dictum ex. <a href="#">consectetur adipiscing</a></p>
        <div class="row mt-10">
          <div class="col-lg-2">
            <h4>Forum</h4>
          </div>
          <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Rechercher une discussion">
          </div>
          <div class="col-lg-3 green-label">Auteur</div>
          <div class="col-lg-2 green-label">Discussion</div>
          <div class="col-lg-2 green-label">Etat</div>
        </div>
        <div class="discussion-list mt-5">
          <div class="row">
            <div class="col-lg-6">
              <h5>Nom de la rubrique</h5>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
            </div>
            <div class="col-lg-2">
              Elisa
            </div>
            <div class="col-lg-2">342</div>
            <div class="col-lg-2 green-label">Etat</div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-lg-6">
              <h5>Nom de la rubrique</h5>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
            </div>
            <div class="col-lg-2">
              Elisa
            </div>
            <div class="col-lg-2">342</div>
            <div class="col-lg-2 green-label">Etat</div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-lg-6">
              <h5>Nom de la rubrique</h5>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
            </div>
            <div class="col-lg-2">
              Elisa
            </div>
            <div class="col-lg-2">342</div>
            <div class="col-lg-2 green-label">Etat</div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-lg-6">
              <h5>Nom de la rubrique</h5>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
            </div>
            <div class="col-lg-2">
              Elisa
            </div>
            <div class="col-lg-2">342</div>
            <div class="col-lg-2 yellow-text">clos</div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-lg-6">
              <h5>Nom de la rubrique</h5>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
            </div>
            <div class="col-lg-2">
              Elisa
            </div>
            <div class="col-lg-2">342</div>
            <div class="col-lg-2 yellow-text">clos</div>
          </div>
          <hr class="my-4">
        </div>


      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 80px">
      <div class="card" style="background-color: black; border: 1px solid white">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
             <h3>Paris <i class="fa-regular fa-star" style="color:yellow"></i></h3>
              <small>Ma commune - ma region</small>
            </div>
            <div class="col-lg-6"></div>
            <div class="row" style="margin-top: 20px">
              <div class="col-lg-4">
                <i class="fa-solid fa-cloud-moon-rain" style="font-size: 30px;padding: 5px"></i> 13.2°C<br><small style="font-size: 10px">Nuageux et ventueux</small>
              </div>
              <div class="col-lg-4">
                <i class="fa-solid fa-earth-oceania" style="font-size: 30px;padding: 5px"></i> Good
              </div>
              <div class="col-lg-4">
                <i class="fa-solid fa-user" style="font-size: 30px;padding: 5px"></i> 124K
              </div>
            </div>
            </div>
        </div>
      </div>
      <div class="fav mt-10" style="margin-top: 20px">
        <div class="row">
          <div class="col-lg-4">
            <h3>Favoris</h3>
          </div>
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit  ligula gravida.
              Nunc in dictum ex. <a href="#"> adipiscing</a></p>
          </div>
        </div>
      </div>
      <div class="fav mt-10" style="margin-top: 20px">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <button class="w-100 btn btn-light" type="button" (click)="displayConnexion()">Connexion</button>
          </div>
          <div class="col-lg-4">
            <button class="w-100 btn btn-light" type="button" (click)="displayRegister()">Inscription</button>
          </div>
        </div>
      </div>
      <div class="form-panel  mt-10">
        <ng-container *ngIf="displayConnexionForm">
          <hr class="my-4">
          <app-meteo-qa-login></app-meteo-qa-login>
        </ng-container>
        <ng-container *ngIf="displayRegisterForm">
        <hr class="my-4">
        <app-meteo-qa-inscription></app-meteo-qa-inscription>
        </ng-container>
      </div>

    </div>
  </div>

</div>
<!--<div class="container pt-10">
  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email"
               class="form-control" id="floatingInput" placeholder="name@example.com" data-keeper-lock-id="k-s7x6rbwd1h"><label
        for="floatingInput">Email address</label>

      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               data-keeper-lock-id="k-wfqsz61kn78"><label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3"><a href="/meteo-qa-inscription">s'incrire</a></div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">connexion</button>

      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </main>
</div>-->

