<app-meteo-qa-nav></app-meteo-qa-nav>
<div class="container mt-5">

  <div class="row">
    <div class="row mt-10">
      <div class="col-lg-2">
        <h4>Forum</h4>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="Rechercher une discussion">
      </div>
      <div class="col-lg-3 green-label">Auteur</div>
      <div class="col-lg-2 green-label">Discussion</div>
      <div class="col-lg-2 green-label">Etat</div>
    </div>
    <div class="discussion-list mt-5">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nom de la rubrique</h5>
          <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
        </div>
        <div class="col-lg-2">
          Elisa
        </div>
        <div class="col-lg-2">342</div>
        <div class="col-lg-2 green-label">Etat</div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nom de la rubrique</h5>
          <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
        </div>
        <div class="col-lg-2">
          Elisa
        </div>
        <div class="col-lg-2">342</div>
        <div class="col-lg-2 green-label">Etat</div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nom de la rubrique</h5>
          <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
        </div>
        <div class="col-lg-2">
          Elisa
        </div>
        <div class="col-lg-2">342</div>
        <div class="col-lg-2 green-label">Etat</div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nom de la rubrique</h5>
          <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
        </div>
        <div class="col-lg-2">
          Elisa
        </div>
        <div class="col-lg-2">342</div>
        <div class="col-lg-2 yellow-text">clos</div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nom de la rubrique</h5>
          <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at tincidunt ligula. </p>
        </div>
        <div class="col-lg-2">
          Elisa
        </div>
        <div class="col-lg-2">342</div>
        <div class="col-lg-2 yellow-text">clos</div>
      </div>
      <hr class="my-4">
    </div>
  </div>


</div>

